<h2>Edytuj profil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Czekamy na potwierdzenie emaila: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :nowe_hasło %> <i>(pozostaw puste jeśli nie chcesz tego zmieniać.)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :Powtórz_nowe_hasło %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :obecne_hasło %> <i>(Potrzebujemy Twojego obecnego hasła aby potwierdzić Twoje dane.)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>
  <div><%= f.submit "Aktualizuj" %></div>
<% end %>

<h3>Usuń konto</h3>

<p>Zawiedziony? <%= button_to "Usuń moje konto.", registration_path(resource_name), data: { confirm: "Na pewno?" }, method: :delete %></p>

<%= link_to "Powrót", :back %>
