<h2>Rejestracja</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :hasło %> <% if @validatable %><i>(minimum <%= @minimum_password_length %> znaków)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :powtórz_hasło %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Zarejestruj" %></div>
<% end %>

<%= render "devise/shared/links" %>
