<h1>Witaj <%= @user.email %></h1>

<p>
 Kupiłeś przedmiot <b><%= @line_item.item.title %></b>(<%= number_to_currency(@line_item.item.price, :unit => "PLN ") %>), skontaktuj się ze sprzedającym w ciągu 24godzin, wysyłając wiadomość na jego maila: <%= @line_item.item.user.email %>
</p>

