<h1>Witaj <%= @line_item.item.user.email %></h1>

<p>
 Użytkownik <%= @user.email %> kupił przedmiot <b><%= @line_item.item.title %></b>(<%= number_to_currency(@line_item.item.price, :unit => "PLN ")%>), powinien się on wkrótce z Tobą skontaktować, jeśli tego nie zrobi możesz do niego osobiście napisać lub dać mu ostrzeżenie po 24 godzinach bez otrzymania od niego wiadomości.</p>