<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Cart</h2>
<table>
	<% @cart.line_items.each do |item| %>
		<tr>
			<td><%= item.quantity %>&times;</td>
			<td><%= item.item.title %></td>
			<td class="item_price"><%= number_to_currency(item.total_price, :unit => "PLN ") %></td>
		</tr>
	<% end %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price, :unit => "PLN ") %></td>
	</tr>
</table>