<br>
<%= simple_form_for @item do |f| %>

<div class="form-group">
  <%= f.input :title %>
</div>

<div class="form-group">
  <%= f.input :general_description %>
</div>

<div class="form-group">
  <%= f.input :detailed_description %>
</div>

<div class="form-group">
  <%= f.input :price, as: :decimal %>
</div>

<div class="form-group">
  <%= f.input :count, as: :integer %>
</div>

<div class="form-group">
  <%= f.association :category, collection: @categories, prompt: "Wybierz", label: "Kategoria" %>
</div>

<div class="form-group">
   <%= label :todo, 'Wykonam na zamówienie:', class: "todo_label" %>
    <%= f.collection_radio_buttons :todo, [[true, 'Tak'] ,[false, 'Nie']], :first, :last  %>
</div>

<div class="form-group">
  <%= f.submit  "Dodaj przedmiot", class: "btn btn-primary btn-sm"%>
</div>

<% end %>




<div ng-controller="ItemController">
<div>