<h1>Przedmioty</h1>
<div ng-controller="ItemsController">
  <table>
    <tr ng-repeat="item in items">
      <td>
        <%= image_tag("obraz.jpg", class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt>{{item.title}}</dt>
          <dd>{{item.general_description}}</dd>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Pokaż przedmiot', "#{items_path()}/{{item.id}}" %><br/>
      </td>
    </tr>
  </table>
</div>
<br>
<%= link_to 'Nowy przedmiot', new_item_path %> |
<%= link_to 'Strona główna', store_path %>
