<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<script>
  window.Id = <%= @item.id %>
</script>

<div ng-controller="LineItemsController">

<div ng-if= "linkUpdated">
    <div class="alert alert-success" >
      <button type="button" class="close" data-dismiss="alert"> &times;</button>
      Kupiłeś przedmiot {{item.title}}!
    </div>
</div>


<div ng-if= "errors">
    <div class="alert alert-danger" >
      <button type="button" class="close" data-dismiss="alert"> &times;</button>
      Niestety nie udało się kupić przedmiotu.
    </div>
</div>

<p>
  <strong>Tytuł przedmiotu:</strong>
  {{item.title}}  
</p>

<p>
  <strong>Szczegółowy opis:</strong>
  {{item.detailedDescription}}  
</p>

<p>
  <strong>Ogólny opis:</strong>
  {{item.generalDescription}}  
</p>

<p>
  <strong>Cena:</strong>
  {{item.price}}  
</p>

<p>
  <strong>Tytuł kategorii:</strong>
  {{item.categoryTitle}}  
</p>

<p>
  <strong>Właściciel:</strong>
  {{item.userEmail}}  
</p>

<p>
  <strong>Na zamówienie:</strong>
  {{item.todo}}  
</p>

<% if !@item.owner?(current_user) && user_signed_in? %>
  <button ng-click='addItem()'>
    Kup
  </button>
<% end %>

</div>

<% unless user_signed_in? %>
  <%= button_to "Zaloguj się aby kupić", new_user_session_path %>
<% end %>

<% if @item.owner?(current_user) %>
  <%= link_to 'Edytuj', edit_item_path(@item) %> |
<% end %>

<%= link_to 'Wróć', store_url %>
