
table{
  border-collapse: collapse;
}
table tr td {
  padding: 5px;
  vertical-align: top;
}

.list_image {
	width: 60px;
	height: 70px;
}

.list_description{
  width: 60%;
  dl{
    margin: 0;
  }
  dt{
    color: #244;
    font-weight: bold;
    font-size: larger;
  }
  dd {
    margin: 0;
  }
}

div.form-group{
  label{
    display: block;
  }
  input,textarea,select{
    width: 20%;
  }
  span{
    display:inline;
    margin-left: 25px;
    margin-right: 25px;
    label{
      display:inline;
      margin-left: 0;
    }
    input{
      width:30px;
      margin-left: 0;
    }
  }
}

label.todo_label{
  margin-left: 20px;
}
 
input.btn.btn-primary.btn-sm{
  margin-bottom: 10px;
}
div.alert.alert-danger{
  width: 40%;
}
span.help-block{
  margin-top: 0;
}
div.field_with_errors{
  width: 600px;
    select{
    width: 20%;
  }

}
span.error{
  color:yellow;
  input{
    display: block;
  }
}

div.alert.alert-success{
  margin-bottom: 5px; 
}