h1 {
	margin: 0;
	padding-bottom: 0.5em;
	font: 150% sans-serif;
	color: #226;
	border-bottom: 3px dotted #77d;
}

.entry {
	overflow: auto;
	margin-top: 1em;
	border-bottom: 1px dotted #77d;
	min-height: 80px;

	img {
		width: 80px;
		margin-right: 5px;
		margin-bottom: 5px;
		position: absolute;
	}
	h3 {
		font-size: 120%;
		font-family: sans-serif;
		margin-left: 100px;
		margin-top: 0;
		margin-right: 60px;
		margin-bottom: 2px;
		color: #227;
		overflow: hidden;
		word-wrap: break-word;
	}
	p, div.price_line {
		margin-left: 100px;
		margin-top: 0.5em;
		margin-bottom: 0.8em;
		overflow: hidden;
		word-wrap: break-word;
		margin-right: 60px;
	}
	.price {
		color: #44a;
		font-weight: bold;
		margin-right: 3em;
		display:inline;
		margin-right: 0;
	}
	.list_actions{
		    float: right;
		    margin-right: 15px;
	}
	.show_owner{
		    float: right;
		    margin-right: 15px;
	}
}

#banner {
	background: #9c9;
	padding: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Times New Roman", serif;
	color: #282;
	text-align: center;
	img {
		width: 50px;
		float: left;
	}
	.my_nav_up{
		display:inline;
		position: absolute;
		right: 20px;
		margin-top: 5px;
		margin-bottom: 0px;
		span{
			display:block;
		}
	}
}

#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#columns {
	background: #141;
	#main {
		margin-left: 10em;
		margin-right: 20em;
		padding: 1em;
		background: white;
    h1 a{
			position:absolute;
			right: 15em;
		}
		h3{
			display:inline;
		}
	}
	#left {
		float: left;
		padding: 1em 2em;
		width: 10em;
		background: #141;
		ul {
			padding: 0;
			li {
				list-style: none;
				a {
					color: #bfb;
					font-size: small;
				}
			}
		}
		p{
			color: yellow;
			font-size: 120%;
		}
	}
	#right {
		padding-left: 1em;
		padding-right: 1em;
		color:white;
		float: right;
		width: 20em;
		table{
			border-top: 1px dotted #595;
			border-bottom: 1px dotted #595;
			margin-bottom: 10px;
			width: 18em;
			tbody{
				td.item_price{
					text-align: right;
				}
				td.total_cell {
					font-weight: bold;
					border-top: 1px solid #595;
				}
				td a {
					color:white;
				}
				tr.total_line{
						text-align: right;
				}	
			}
		}
	}
}

div.category_listing.ng-scope{
	color: #bfb;
}

div.ng-scope p{
	color: black;
}

a{
	cursor:pointer;
}
a:hover{
  text-decoration: none;
  color:black;
  background-color: transparent;
}

li.active a.ng-binding{
		background-color: green;
}

h3.ng-binding{
	margin-right: 0px;
}

div.offers_show{
	display:inline;
}

div.offers.ng-binding{
	display:inline;
	color: #141;
}
