<p>Witaj <%= @email %>!</p>
<p>Dziękujemy za rejestrację w naszym serwisie. Życzymy udanych transakcji!:)</p>
<p>Potwierdź swoje konto klikająć w poniższy link.</p>

<p><%= link_to 'Potwierdzam', confirmation_url(@resource, confirmation_token: @token) %></p>
