<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś zgłosił prośbę o zmianę hasła, możesz to zrobić klikając w poniższy link.</p>

<p><%= link_to 'Zmieniam hasło.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeśli to nie Ty poprosiłeś o zmianę hasła, zignoruj tą wiadomość.</p>
<p>Pamiętaj, Twoje hasło nie zostanie zmienione dopóki sam tego nie potwierdzisz.</p>
