<p>Witaj <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane z powodu zbyt wielu prób błędnego logowania.</p>

<p>Kliknij w poniższy link, aby je odblokować.:</p>

<p><%= link_to 'Odblokuj moje konto.', unlock_url(@resource, unlock_token: @token) %></p>
