<!DOCTYPE html>
<html ng-app='HomemadeShop'>
	<head>
		<title>Homemade Shop</title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>